/* LG Device :992px. */

@media only screen and (min-width: 1400px) {

    .hero-wrap,
    .simple-wrap,
    .quality-item-wrap,
    .service-slider-wrap,
    .service-title {
        max-width: 1320px !important;
        padding: 0 15px;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-wrap {
        max-width: 1140px;
        padding: 0 15px;

    }

    .simple-wrap,
    .quality-item-wrap {
        max-width: 1140px;
        padding: 0 15px;
    }

    .footer-wrap .container-fluid {
        padding: 0 70px;
    }

    .xl-none {
        display: none;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
    .about-text h2 {
        font-size: 42px;
        line-height: 60px;
    }

    .shape-one {
        top: 0%;
        left: -13%;
        max-width: 22%;
    }

    .member-desc::before {
        top: -73px;
        height: calc(100% + 860px);
    }

    .service-slider-wrap,
    .service-title {
        max-width: 1140px !important;
        padding: 0 15px;
    }
}

@media only screen and (max-width: 1199px) {

    .about-item-wrap {
        padding: 0;
        margin: 0 0 70px;
    }

    .about-text {
        margin: 0 0 70px;
    }

    .about-item-wrap.v2 .about-text {
        margin: 0;
    }

    .ceo-msg-wrap {
        background-color: #F9F9F9;
        padding: 100px 0;
    }

    .shape-three {
        position: absolute;
        top: 90px;
        left: 0;
        max-width: 200px;
        z-index: 0;
    }

    .ceo-msg-wrap .container {
        position: relative;

    }

    .section-title.v5,
    .section-title.v5 h3 {
        text-align: left;
    }

    .quality-item {
        width: 100%;
        margin: 0 0 100px;
    }

    .simple-item {
        width: 100%;
        margin: 0;
        padding-bottom: 10px;
    }

    .simple-item img.icon {
        top: 50px;
    }

    .simple-item h4,
    .simple-item p {
        padding-left: 100px;
        margin: 0 0 18px;
    }

    .simple-wrap.section-padding {
        padding-top: 0;
    }

    .section-title.v4.style1 {
        justify-content: flex-start;
        margin: 0 0 30px;
    }

    .section-title.v4.style1 h2 {
        font-size: 30px;
    }

    .section-title.v4.style1 img {
        max-width: 280px;
    }

    .member-info-wrap img {
        width: 100%;
        margin: 0 0 30px;
    }

    .member-info {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .member-desc::before {
        top: 0px;
        height: 100%;
    }

    .taglist {
        justify-content: center;
        max-width: 80%;
        margin: 0 auto;
    }

    .member-desc {
        padding: 60px 0;
        margin: 40px 0 100px;
    }

    .lg-none {
        display: none;
    }

    .member-info-wrap {
        padding: 0;
    }

    .member-more-btn {
        margin: 0 0 60px;
    }

    .member-description {
        text-align: center;
    }

    .member-description h3 {
        position: relative;
        font-family: "Marker-Felt";
        display: inline-block;
        font-size: 40px;

    }

    .member-description h3 span {
        position: absolute;
        top: -52px;
        right: -31px;
        font-size: 14px;
    }

    .member-description h3 span:after {
        position: absolute;
        bottom: -11px;
        left: 0;
        content: "";
        width: 1px;
        height: 30px;
        transform: rotate(34deg);
        background-color: #707070;
    }

    .member-desc p {
        font-size: 18px;
        line-height: 30px;
    }

    .mobile-service-slider-one div img {
        width: 100%;
        height: :
    }

    .mobile-slider-item {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #ddd;
        height: 300px;
    }

    .service-wrap::before {
        display: none;
    }

    .mobile-slider-item-wrap.slick-slide {
        margin: 0 20px;
    }

    .about-slider-v1 .slick-prev,
    .mobile-service-slider-one .slick-prev,
    .mobile-service-slider-two .slick-prev,
    .mobile-service-slider-three .slick-prev,
    .about-slider-v1 .slick-next,
    .mobile-service-slider-one .slick-next,
    .mobile-service-slider-two .slick-next,
    .mobile-service-slider-three .slick-next {
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 50%;
    }

    .about-slider-v1 .slick-prev,
    .mobile-service-slider-one .slick-prev,
    .mobile-service-slider-two .slick-prev,
    .mobile-service-slider-three .slick-prev {
        left: 5%;
        z-index: 99;
    }

    .about-slider-v1 .slick-next,
    .mobile-service-slider-one .slick-next,
    .mobile-service-slider-two .slick-next,
    .mobile-service-slider-three .slick-next {
        right: 5%;
        z-index: 99;
    }

    .mobile-service-slider-one .slick-dots,
    .mobile-service-slider-two .slick-dots,
    .mobile-service-slider-three .slick-dots {
        bottom: 45%;
    }

    .about-slider-v1 .slick-prev,
    .about-slider-v1 .slick-next {
        top: 32%;
    }

    .mobile-service-slider-one .slick-prev,
    .mobile-service-slider-two .slick-prev,
    .mobile-service-slider-three .slick-prev,
    .mobile-service-slider-one .slick-next,
    .mobile-service-slider-two .slick-next,
    .mobile-service-slider-three .slick-next {
        top: 20%;
        right: 5%;
    }

    .mobile-slider-item-info {
        margin: 100px 0 0;
        text-align: center;
        padding: 60px 0;
        position: relative;
    }

    .mobile-slider-item-info:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: calc(100% + 60px);
        height: 100%;
        background: #F9F9F9;
        z-index: -1;
    }

    .mobile-slider-item-info h2 {
        max-width: 80%;
        margin: 0 auto 20px;
        text-align: left;
        font-family: "Yogothic bold";
        font-weight: 400;
        margin: ;
    }

    .mobile-slider-item-info p {
        font-size: 18px;
        line-height: 37px;
        max-width: 80%;
        margin: 0 auto;
        text-align: left;
    }

    .slick-dots li {
        margin: 0 10px;
    }

    .slick-dots li button {
        width: 28px;
        height: 28px;
    }

    .service-wrap {
        margin: 0;
    }

    .slider-item::before {

        display: none;
    }

    .slider-item {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }
}

@media only screen and (min-width: 992px) {


    .hamburger-menu {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .page_wrapper {
        overflow-x: hidden !important;
    }

    .sm-none {
        display: none;
    }

    .main-menu {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .header-bar-area {
        padding: 15px 0;
    }

    .header-bar-area.sticky {
        padding: 10px 0;
    }

    .footer-wrap {
        padding: 60px 0;
    }

    .footer-logo img {
        max-width: 200px;
    }

    .footer-widget {
        margin: 0 0 25px;
    }


}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .main-menu .nav-item {
        padding: 0 5px;
    }

    .section-title h3 {
        font-size: 41px;
        line-height: 60px;
    }

    .news-item-wrap a {
        font-size: 18px;
    }

    .news-wrap .about-btn {
        margin: 0 0 0 100px;
    }

    .footer-logo img {
        max-width: 200px;
    }

    .footer-widget h3 {
        font-size: 20px;
        line-height: 50px;
        margin: 0 0 10px;
    }

    .footer-widget ul li a {
        margin: 10px 0;
        font-size: 14px;
    }

    .shape-one {
        top: 1%;
        left: -6%;
        max-width: 23%;
    }

    .quality-item,
    .simple-item {
        padding-left: calc((100% - 960px) / 2 + 15px);
    }

    .quality-item span,
    .simple-item img.icon {
        left: calc((100% - 960px) / 2 + 15px);

    }

    .apply-button {
        padding: 0 40px 60px;
    }

    .member-desc p {
        font-size: 18px;
        line-height: 34px;
        text-align: center;
    }

    .service-title {
        max-width: 960px;
        margin: 0 auto;
        text-align: center;
    }

    .service-title h2 span {
        font-size: 50px;
        line-height: 80px;
    }

    .service-title h2 {
        font-size: 20px;
        justify-content: center;
    }

}


/* MD Device :768px. */

@media only screen and (min-width: 768px) {
    .md-none {
        display: none;
    }

    .msg-wrap {
        margin: 100px 0 0;
    }

    .comp-profile-info {
        margin: 0 0 100px;
    }

}

/* Extra small Device. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-content h1 {
        font-size: 34px;
        line-height: 70px;
        margin: 0 0 20px;
    }

    .hero-content p {
        font-size: 16px;
        line-height: 37px;
    }

    .section-title h3 {
        font-size: 38px;
        line-height: 37px;

    }

    .footer-widget h3 {
        font-size: 15px;
        line-height: 40px;
        margin: 0 0 10px;
    }

    .footer-widget ul li a {
        margin: 10px 0;
        font-size: 12px;
    }

    .shape-one {
        top: 1%;
        left: -5%;
        max-width: 24%;
    }

    .about-content h2 {
        font-size: 25px;
        line-height: 45px;
        margin: 0 0 28px 0;
    }

    .about-content h2 span {
        font-size: 34px;
        line-height: 50px;
        margin: 0 120px 0 0;
    }

    .about-content h2 span::after {
        top: 28px;
        left: calc(100% + 5px);
        width: 80px;
    }

    .team-member img {
        width: 200px;
        height: 200px;
        border-radius: 0%;
    }

    .quality-item,
    .simple-item {
        padding-left: calc((100% - 720px) / 2 + 15px);
    }

    .quality-item span,
    .simple-item img.icon {
        left: calc((100% - 720px) / 2 + 15px);

    }

    .service-title {
        max-width: 720px;
        margin: 0 auto;
        text-align: center;
    }

    .service-title h2 span {
        font-size: 50px;
        line-height: 80px;
    }

    .service-title h2 {
        font-size: 20px;
        justify-content: center;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .xs-none {
        display: none;
    }

    .xs-block {
        display: block;
    }

    .xpt-0 {
        padding-top: 0 !important;
    }

    .page-wrapper {
        overflow-x: hidden !important;
    }

    .section-padding {
        padding: 40px 0;
    }

    .logo img {
        max-width: 160px;
    }

    .hero-wrap {
        margin: 80px auto 0;
    }

    .hero-content {
        max-width: 80%;
    }

    .hero-content h1 {
        font-size: 18px;
        line-height: 28px;
        margin: 0 0 15px;
    }

    .hero-content p {
        font-size: 12px;
        line-height: 19px;
    }

    .section-title h2 {
        font-size: 40px;
        line-height: 47px;
        margin: 0 0 36px;
    }

    .about-wrap {
        padding-top: 100px;
    }

    .about-text h2 {
        font-size: 32px;
        line-height: 48px;
    }

    .about-text h2 span {
        padding: 43px 27px;
    }

    .about-text p {
        font-size: 15px;
        line-height: 32px;
    }

    .section-title h3 {
        font-size: 22px;
        line-height: 34px;
    }

    .link {
        font-size: 26px;
        line-height: 37px;
    }

    .link::before {
        top: 23px;
        left: calc(100% + 10px);
        width: 100px;
    }

    .link::after {
        left: calc(100% + 90px);
        width: 20px;
        top: 17px;
    }

    .promo-wrap {
        margin: 0 0 40px;
    }

    .dreamly-bg {
        background-image: url(../img/);
    }

    .news-item-wrap {
        margin: 0 0 50px;
    }

    .news-wrap .about-btn {
        padding: 0;
    }

    .news-item-wrap a span {
        width: 25%;
        font-size: 14px;
        line-height: 1.7;
    }

    .news-item-wrap a p {
        width: 70%;
        font-size: 14px;
    }

    .footer-widget h3 {
        font-size: 20px;
        line-height: 50px;
        margin: 0 0 10px;
    }

    .footer-widget ul li a {
        margin: 10px 0;
        font-size: 14px;
    }

    .btn.v1 {
        font-size: 18px;
        line-height: 40px;
        padding: 20px 36px;
    }

    .back-to-top {
        bottom: 100px;
        right: -42px;
    }

    .back-to-top span {
        font-size: 10px;
        padding-right: 65px;
    }

    .back-to-top span:before {
        width: 150px;
    }




    /*.slick-slider {
        width: 100%;
        background-color: transparent;
    }

    .slick-slider .slick-track {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        height: 100px;
        justify-content: center;
    }*/

    .shape-one {
        top: 1%;
        left: -5%;
        max-width: 43%;
    }

    .about-content h2 {
        font-size: 18px;
        line-height: 38px;
        margin: 0 0 28px 0;
    }

    .about-content h2 span {
        display: block;
        font-size: 34px;
        line-height: 50px;
        margin: 0;
    }

    .about-content h2 span::after {
        top: 28px;
        left: 40%;
        width: 140px;
    }

    .about-content p {
        font-size: 15px;
        line-height: 33px;
        max-width: 100%;
    }

    .about-item-wrap.v2 {
        padding: 0;
        margin: 0 0 30px;
    }

    .about-text.v3 img {
        max-width: 80px;
    }

    .about-text.v3 h2 {
        font-size: 23px;
        line-height: 36px;
    }

    .about-text.v3 h2 span {
        padding: 30px 27px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .ceo-msg p {
        font-size: 16px;
        line-height: 32px;
    }

    .ceo-sign img {
        max-width: 170px;
    }

    .team-member {
        width: 48%;
    }

    .team-member img {
        width: 150px;
        height: 150px;
    }

    .section-title.v4 img {
        max-width: 100px;
    }

    .section-title.v6 {
        margin: 0 0 30px;
    }

    .section-title.v6 img {
        max-width: 150px;
    }

    .section-title.v4 h2,
    .section-title.v6 h2 {
        margin: 0 0 0 20px;
        font-size: 28px;
        line-height: 30px;
    }

    .team-member p {
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0px;

    }

    .team-member h4 {
        font-size: 20px;
        line-height: 38px;
        letter-spacing: 1px;
    }

    .info-title h4 {
        font-size: 14px;
        line-height: 26px;
    }

    .info-desc p {
        font-size: 14px;
        line-height: 26px;
        margin: 0;
    }

    .comp-profile-wrap.section-padding {
        margin: 0 0 70px;
    }

    .quality-item,
    .simple-item {
        padding-left: 15px;
    }

    .quality-item span,
    .simple-item img.icon {
        left: 15px;

    }

    .recruit-hero-content h2 {
        font-size: 27px;
        line-height: 50px;
    }

    .section-title.v5 h3 {
        font-size: 30px;
        line-height: 33px;
    }

    .section-title.v4.style1 {
        padding: 0 15px;
    }

    .quality-item {
        margin: 0 0 80px;
    }

    .quality-item:last-child {
        margin: 0 0 40px;
    }

    .section-title.v4.style1 h2 {
        font-size: 20px;
    }

    .section-title.v4.style1 img {
        max-width: 180px;
    }

    .apply-button h2 {
        font-size: 38px;
        line-height: 51px;
    }

    .btn.v3 {
        font-size: 24px;
        line-height: 40px;
        width: 310px;
        border-radius: 18px;
    }

    .service-title {
        max-width: 100%;
        padding: 0 15px;
        text-align: left;
    }

    .service-title h2 span {
        font-size: 48px;
        line-height: 60px;
    }

    .service-title h2 {
        font-size: 16px;
        justify-content: center;
        line-height: 1.4;
    }

    .mobile-slider-item.slick-slide {
        margin: 0 5px;
    }

    .about-wrap.service {
        padding: 0;
    }

    .about-text.v2.text-center {
        margin: 0;
    }

    .mobile-slider-item-wrap.slick-slide {
        margin: 0 6px;
    }

    .mobile-service-slider-one .slick-dots,
    .mobile-service-slider-two .slick-dots,
    .mobile-service-slider-three .slick-dots {
        bottom: 50%;
    }

    .mobile-slider-item-info h2 {
        max-width: 95%;
        font-size: 18px;
        line-height: 1.2;
    }

    .mobile-slider-item-info p {
        font-size: 15px;
        line-height: 30px;
        max-width: 95%;
    }

    .slider-item {
        padding: 0 2px 0;
    }

    .mobile-slider-item {
      
        height: 232px;
    }
}